- if @descriptions.length > 0
	- @descriptions.each do |description|
		.about-description
			- if description.description.present?
				%p
					= description.description
			- if current_user			
				.admin.mt-3
					= link_to("Edit", edit_description_path(description), class: 'mr-4')			
- if current_user && @descriptions.length == 0
	= link_to new_description_path, class: 'new-description' do
		%h4
			+ Create the About Section
