- @page_title = "Home"

.home-content
	.home-logo
		= image_tag "rockbar_logo_white.png"
	%h5.mb-3
		= link_to("185 CHRISTOPHER STREET", "https://www.google.com/maps/place/Rockbar/@40.7326247,-74.0119485,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259ec5eea0797:0x773f86f45b3584e!8m2!3d40.7326247!4d-74.0097598", target: '_blank')
	%h6.mb-5
		THE VILLAGE - MANHATTAN

	.home-featured
		= render partial: 'layouts/featured'