- @page_title = "Home"

.home-content
	.home-logo
		= image_tag "rockbar_logo_white.png"
	%h5.mb-1
		185 Christopher Street
	%h6.mb-5
		THE VILLAGE - MANHATTAN

	.home-featured
		= render partial: 'layouts/featured'	