= simple_form_for @admin_user, method: :delete do |f|

	.admin-delete	
		%h2
			Are you sure you want to delete '#{@admin_user.email}'s' Admin Account?

		= f.button :submit, value: 'delete'
		= link_to('Cancel', admin_users_path)