- @page_title = "About"

.about-page
	%h1 About
	%h5
		Welcome to RockbarNYC.  New York City’s most inclusive bar with the cheapest drinks you will find.  We love our bears, geeks, queens, leathermen, jocks, ladies, gentlemen and people who have no time for any of those labels.  We love making new friends every night and hope you come play with us!!
	%h5.signature
		#{'- ROCKBAR NYC'}

	%h1 STAFF
	= render partial: 'staffs/index'		
