footer {
	padding: 4em 1em;
	background: $brand-dark-red;
	min-width: 920px;
	.footer-logo img {
		width: 180px;
		margin-bottom: 6em;
	}
	.footer-sections {
		display: flex;
		margin-bottom: 7em;
		.footer-section {
			width: 400px;
			display: flex;
			flex-direction: column;
			h2 {
				margin-bottom: 1.5em;
				text-transform: uppercase;
				font-size: 1.1em;
			}
			p, a {
		    font-size: .8em;
		    line-height: 2em;
		    font-weight: 100;
		    letter-spacing: 2px;
        width: -webkit-fit-content;
		    width: -moz-fit-content;
		    width: fit-content;
		    text-transform: uppercase;
			}
			.social {
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
			.fa {
				margin-right: .5em;
				font-size: 2.5em;
			}
		}
	}
	.rights {
		font-size: .65em;
	}
}