footer {
	padding: 4em 1em;
	background: $brand-dark-red;
	min-width: 920px;
	.footer-logo img {
		width: 180px;
		margin-bottom: 6em;
	}
	.footer-sections {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 7em;
		.footer-section {
			width: 33.3%;
			display: flex;
			flex-direction: column;
			h2 {
				margin-bottom: 1.5em;
				text-transform: uppercase;
				font-size: 1.1em;
			}
			p, a {
		    font-size: .8em;
		    line-height: 2em;
		    font-weight: 100;
		    letter-spacing: 2px;
		    display: block;
		    width: 100%;
        width: -webkit-fit-content;
		    width: -moz-fit-content;
		    width: fit-content;
		    text-transform: uppercase;
			}
			.social {
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
			.fa {
				margin-right: .5em;
				font-size: 2.5em;
			}
		}
	}
	.rights {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 50px;
		border-top: 1px solid $brand-white;
		font-size: .65em;
		.contact {
			text-align: right;
			display: flex;
			p {
				margin-left: 30px;
				a {
					letter-spacing: inherit;
					font-size: inherit;
				}
			}
		}
	}
}




/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2) { 

	footer {
		padding: 4em 2em;
		.footer-logo {
			img {
				display: none;
			}
		}
		.footer-sections {
			.footer-section {
				width: 100%;
				margin-bottom: 4em;
				border-bottom: 1px solid white;
				padding-bottom: 4em;
				h2 {
					font-size: 2.5em;
				}
				p, a {
					font-size: 2em;
					line-height: 3em;
					letter-spacing: 5px;
				}
			}
			.footer-section:nth-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		.rights {
			font-size: 1.5em;
			flex-direction: column;
			text-align: center;
			.contact {
				order: -1;
				margin-bottom: 20px;
				p {
					margin-left: 80px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) { 

	footer {
		.footer-sections {
			.footer-section {
				p, a {
					font-size: .9em;
					line-height: 3em;
				}
			}
		}
	}

	}	

/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) { 

	footer {
		padding: 4em 2em;
		.footer-logo {
			img {
				display: none;
			}
		}
		.footer-sections {
			.footer-section {
				width: 100%;
				margin-bottom: 4em;
				border-bottom: 1px solid white;
				padding-bottom: 4em;
				h2 {
					font-size: 2.5em;
				}
				p, a {
					font-size: 2em;
					line-height: 3em;
					letter-spacing: 5px;
				}
			}
			.footer-section:nth-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		.rights {
			font-size: 1.5em;
			flex-direction: column;
			text-align: center;
			.contact {
				order: -1;
				margin-bottom: 20px;
				p {
					margin-left: 80px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
		}
	}

	}

/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) { 

	footer {
		padding: 4em 2em;
		.footer-logo {
			img {
				display: none;
			}
		}
		.footer-sections {
			.footer-section {
				width: 100%;
				margin-bottom: 4em;
				border-bottom: 1px solid white;
				padding-bottom: 4em;
				h2 {
					font-size: 2.5em;
				}
				p, a {
					font-size: 2em;
					line-height: 3em;
					letter-spacing: 5px;
				}
			}
			.footer-section:nth-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		.rights {
			font-size: 1.5em;
			flex-direction: column;
			text-align: center;
			.contact {
				order: -1;
				margin-bottom: 20px;
				p {
					margin-left: 80px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
		}
	}

	}

/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) { 

	footer {
		padding: 4em 2em;
		.footer-logo {
			img {
				display: none;
			}
		}
		.footer-sections {
			.footer-section {
				width: 100%;
				margin-bottom: 4em;
				border-bottom: 1px solid white;
				padding-bottom: 4em;
				h2 {
					font-size: 2.5em;
				}
				p, a {
					font-size: 2em;
					line-height: 3em;
					letter-spacing: 5px;
				}
			}
			.footer-section:nth-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		.rights {
			font-size: 1.5em;
			flex-direction: column;
			text-align: center;
			.contact {
				order: -1;
				margin-bottom: 20px;
				p {
					margin-left: 80px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
		}
	}

	}


/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) { 

	footer {
		padding: 4em 2em;
		.footer-logo {
			img {
				display: none;
			}
		}
		.footer-sections {
			.footer-section {
				width: 100%;
				margin-bottom: 4em;
				border-bottom: 1px solid white;
				padding-bottom: 4em;
				h2 {
					font-size: 2.5em;
				}
				p, a {
					font-size: 2em;
					line-height: 3em;
					letter-spacing: 5px;
				}
			}
			.footer-section:nth-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		.rights {
			font-size: 1.5em;
			flex-direction: column;
			text-align: center;
			.contact {
				order: -1;
				margin-bottom: 20px;
				p {
					margin-left: 80px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
		}
	}

	}

/* iphone XR and XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) { 

	footer {
		padding: 4em 2em;
		.footer-logo {
			img {
				display: none;
			}
		}
		.footer-sections {
			.footer-section {
				width: 100%;
				margin-bottom: 4em;
				border-bottom: 1px solid white;
				padding-bottom: 4em;
				h2 {
					font-size: 2.5em;
				}
				p, a {
					font-size: 2em;
					line-height: 3em;
					letter-spacing: 5px;
				}
			}
			.footer-section:nth-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		.rights {
			font-size: 1.5em;
			flex-direction: column;
			text-align: center;
			.contact {
				order: -1;
				margin-bottom: 20px;
				p {
					margin-left: 80px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
		}
	}

	}
