header {
	padding: 2em 1em;
	.main-width {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header-logo img {
			width: 180px;
		}
		.fa.fa-bars {
			font-size: 2em;
			&:hover {
				cursor: pointer;
			}
		}
	}	
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(103, 2, 27, .7);
	-webkit-transition: .5s; /* Safari */
  transition: .5s;
  z-index: 5;
  .fa.fa-times {
  	position: fixed;
  	top: 1em;
  	right: 1em;
  	display: none;
  	font-size: 1.5em;
  }
	.nav-content {
		min-height: 300px;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		a.active {
			color: $brand-white;
			text-decoration: line-through;
		}
		a {
			font-size: 1.5em;
			font-weight: 100;
			text-transform: uppercase;
			width: min-content;
			display: inline-block;
			border: 2px solid transparent;
			line-height: 2em;
			padding: 0 .5em;
			&:hover {
				color: $brand-white;
				text-decoration: line-through;
			}
		}
	}
}

nav.open {
	width: 500px;
	.fa.fa-times {
		display: block;
		&:hover {
			cursor: pointer;
		}
	}
	.nav-content {
		display: flex;
	}
}