header {
	padding: 2em 1em;
	background-image: linear-gradient(black, transparent);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	.main-width {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.header-logo img {
			width: 120px;
			margin-top: 3px;
		}
		.fa-bars {
			font-size: 2em;
			&:hover {
				cursor: pointer;
			}
		}
	}	
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(103, 2, 27, .7);
	-webkit-transition: .5s; /* Safari */
  transition: .5s;
  z-index: 5;
  .fa.fa-times {
  	position: fixed;
  	top: 1em;
  	right: 1em;
  	display: none;
  	font-size: 1.5em;
  }
	.nav-content {
		min-height: 300px;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		a.active {
			color: $brand-white;
			text-decoration: line-through;
		}
		a {
			font-size: 1.5em;
			font-weight: 100;
			text-transform: uppercase;
			width: min-content;
			display: inline-block;
			border: 2px solid transparent;
			line-height: 2em;
			padding: 0 .5em;
			&:hover {
				color: $brand-white;
				text-decoration: line-through;
			}
		}
	}
}

nav.open {
	width: 500px;
	.fa.fa-times {
		display: block;
		&:hover {
			cursor: pointer;
		}
	}
	.nav-content {
		display: flex;
	}
}








/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* iphone XR ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) 
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) 
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* iphone XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation: portrait) { 

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

	}	

/* Samsung Galaxy 5,6,7 ------------------------------------------------------------- */

@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 640px)
	and (orientation: portrait) {

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

}	

/* Landscape Only */
@media only screen 
	and (min-device-width : 360px) 
	and (max-device-height : 640px)
	and (orientation: landscape) { 

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

}

/* Samsung Galaxy 8, 9 ------------------------------------------------------------- */

@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 740px) {

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

}

/* Landscape Only */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 740px)
	and (orientation: landscape) {	

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

}

/* Google Pixel ------------------------------------------------------------- */

@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 731px) {

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

}

/* Landscape Only */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 731px)
	and (orientation: landscape) {

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

}	

/* Google Pixel XL ------------------------------------------------------------- */

@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 823px) {

	header {
		padding: 2em;
		.main-width {
			align-items: center;
			.hamburger {
				width: 75px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.fa-bars {
				font-size: 3.5em;
			}
			.header-logo {
				display: flex;
				justify-content: center;
				padding-left: 75px;	
				a {
					width: 40%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	nav.open {
		width: 100%;
		.fa.fa-times {
			font-size: 4.5em;
			top: 40px;
			right: 45px;
		}
		.nav-content {
			a {
				font-size: 5.5em;
			}
		}
	}

}

/* Landscape Only */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 823px)
	and (orientation: landscape) {

	header {
		padding: 2em;
  	.main-width {
	  	.fa.fa-bars {
	  		font-size: 2em;
	  	}
  	}
  }

  nav.open {
  	width: 50%;
  	.fa.fa-times {
  		font-size: 2em;
  	}
  	.nav-content {
  		a {
  			font-size: 2em;
  		}
  	}
  }

}	