// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-page {
	margin: 4em 0;
	h1 {
		margin-bottom: 2em;
	}
	h5 {
		line-height: 2.5em;
    font-size: 1em;
    letter-spacing: 2px;
	}
	.admin {
		a {
			text-transform: uppercase;
		}
	}
	.signature {
		text-align: right;
		margin-top: 2em;
		margin-bottom: 5em;
	}
}
