// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-red: #67021B;
$brand-dark-red: #210208;

.about-page {
	margin: 2em 0 8em;
	h1 {
		font-size: 2.5em;
		text-transform: uppercase;
		color: $brand-red;
		margin-bottom: 1em;
	}
	h5 {
		line-height: 2em;
		font-size: 1.25em;
	}
	.signature {
		text-align: right;
		margin-top: 2em;
		margin-bottom: 5em;
	}
}
