// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-page {
	margin: 4em 0;
	h1 {
		margin-bottom: 2em;
	}
	h5 {
		line-height: 2.5em;
    font-size: 1.25em;
    letter-spacing: 2px;
	}
	.admin {
		a {
			text-transform: uppercase;
		}
	}
	.signature {
		text-align: right;
		margin-top: 2em;
		margin-bottom: 5em;
	}
}





/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}


	}


/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}


	}


/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}


	}


/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) { 

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}


	}


/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) { 

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}


	}


/* iphone XR and XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) { 

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}


	}

/* Samsung Galaxy 5,6,7 ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 640px) {

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

}	

/* Samsung Galaxy 8, 9 ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 740px) {

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

}

/* Google Pixel ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 731px) {

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

}		

/* Google Pixel XL ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 823px) {

	.about-page {
		padding: 0 1em;
		h5 {
			font-size: 2em;
		}
		.staff-members {
			.staff {
				margin-right: 10%;
				width: 45%;
				.image-overlay {
					span {
						background-color: rgba(0, 0, 0, .4);
						h3 {
							font-size: 3em;
						}
					}
				}
				.staff-description {
					p {
						font-size: 1.5em;
					}
				}
				.admin {
					a {
						font-size: 2em;
					}
				}
			}
			.staff:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

}		
