// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
	width: 600px;
	margin: 5em auto 8em;
	h1 {
		text-align: center;
		margin-bottom: 2em;
	}
	h2 {
		text-transform: uppercase;
		margin-bottom: 2em;
		font-size: 1.75em;
		text-align: center;
	}
	#description_description {
		min-height: 10em;
	}
	.btn {
		margin-bottom: 1em;
	}
}

.admin-page {
	margin-top: 3em;
	margin-bottom: 8em;
	.actions {
		display: flex;
		margin-bottom: 3em;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: $translucent-red;
			height: 250px;
			width: 32%;
			margin-right: 2%;
			text-transform: uppercase;
			&:hover {
				cursor: pointer;
				background: $brand-red;
				color: $brand-white;
				text-decoration: none;
				border: 2px solid $brand-white;
			}
		}
		a:last-of-type {
			margin-right: 0;
		}
	}
	.edit {
		display: flex;
		a, p {
			text-transform: uppercase;
			margin-right: 1em;
		}
	}
}






/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

	}


/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

	}


/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

	}


/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) { 

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

	}
	

/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) { 

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

	}
	

/* iphone XR and XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) { 

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

	}

/* Samsung Galaxy 5,6,7 ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 640px) {

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

}			

/* Samsung Galaxy 8, 9 ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 740px) {

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

}

/* Google Pixel ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 731px) {

	.admin-page {
		padding: 0 1em;
		h1 {
			margin-bottom: 1em;
		}
		.actions {
			flex-wrap: wrap;
			a {
				height: 0;
				padding: 23% 1em;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 1em;
				font-size: 2em;
			}
			a:nth-child(2n) {
				margin-right: 0;
			}
			a:nth-child(3n) {
				margin-right: 4%;
			}
		}
		.edit {
			a, p {
				font-size: 2em;
			}
		}
	}

	.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create, .staff-create, .staff-delete, .about-create {
		width: 100%;
		padding: 0 1em;
		a {
			font-size: 2em;
		}
		h2 {
			font-size: 2.25em;
		}
	}

}	
