// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page, .admin-create, .admin-edit, .admin-delete, .album-delete, .photo-delete, .event-delete, .album-create, .photo-create {
	width: 600px;
	margin: 5em auto 8em;
	h1 {
		text-align: center;
		margin-bottom: 2em;
	}
	h2 {
		text-transform: uppercase;
		margin-bottom: 2em;
		font-size: 1.75em;
		text-align: center;
	}
	label {
    width: 100%;
    color: $brand-red;
    font-weight: 100;
    text-transform: uppercase;
	}
	input[type="text"], input[type="password"] {
		width: 100%;
    height: 3em;
    border: 2px solid $brand-red;
    margin-bottom: 1em;
    padding: .5em;
	}
	textarea {
		width: 100%;
		height: 5em;
		border: 2px solid $brand-red;
		margin-bottom: 1em;
		padding: .5em;
	}
	.btn {
		margin-bottom: 1em;
	}
	.cloudinary-button {
		height: 3em;
	  margin-bottom: .5em;
	  border-radius: 0;
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	  border: 1px solid $brand-red;
	  background: $brand-red;
	  font-weight: 100;
	  text-transform: uppercase;
	  color: $brand-white;
	  font-family: 'Archivo Black', sans-serif; 
	  &:hover {
	  	border: 1px solid $brand-white;
	  	background: $brand-white;
	  	color: $brand-red;
	  }
	}
}

.admin-page {
	margin-top: 3em;
	margin-bottom: 8em;
	.actions {
		display: flex;
		margin-bottom: 3em;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: $translucent-red;
			height: 250px;
			width: 32%;
			margin-right: 2%;
			text-transform: uppercase;
			&:hover {
				cursor: pointer;
				background: $brand-red;
				color: $brand-white;
				text-decoration: none;
				border: 2px solid $brand-white;
			}
		}
		a:last-of-type {
			margin-right: 0;
		}
	}
	.edit {
		display: flex;
		a, p {
			text-transform: uppercase;
			margin-right: 1em;
		}
	}
}