// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-page {
	margin: 2em 0 8em;
	h4 {
		line-height: 2em;
	}
	h4:last-of-type {
		margin-bottom: 531px;
	}
	.google-map {
		margin-top: 5em;
		background: grey;
		min-height: 400px;
		width: 100vw;
		position: absolute;
		top: 500px;
		left: 0;
	}
}