// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-page {
	margin: 4em 0 8em;
	h4 {
		line-height: 2em;
	}
	h4:last-of-type {
		margin-bottom: 4em;
	}
	.directions {
		display: block;
		margin-bottom: 700px;
		font-size: .75em;
	}
	.google-map {
		margin-top: 5em;
		background: grey;
		height: 500px;
		width: 100vw;
		position: absolute;
		top: 600px;
		left: 0;
		-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
	  filter: grayscale(70%);
	}
	.mailchimp {
		h1 {
			margin-bottom: 2em;
		}
		#mc_embed_signup_scroll {
			display: flex;
			flex-wrap: wrap;
			.mc-field-group:nth-child(3) {
				margin-right: 0;
			}
			.mc-field-group {
				display: flex;
				flex-direction: column;
				width: 32%;
				margin-right: 2%;
				label {
					margin-bottom: 1em;
					color: $brand-red;
					.asterisk {
						color: $brand-red;
					}
				}
				input {
					height: 50px;
				}
			}
			.clear {
				width: 100%;
				#mc-embedded-subscribe {
					margin-top: 1em;
					width: 100%;
					background: $brand-red;
					height: 50px;
					color: $brand-white;
					border: none;
					text-transform: uppercase;
					font-size: 1.25em;
					letter-spacing: 2px;
				}
			}
		}
	}
}

