// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-page {
	margin: 4em 0 8em;
	h4 {
		line-height: 2em;
	}
	h4:last-of-type {
		margin-bottom: 4em;
	}
	.directions {
		display: block;
		margin-bottom: 600px;
		font-size: .75em;
	}
	.google-map {
		margin-top: 5em;
		background: grey;
		height: 500px;
		width: 100vw;
		position: absolute;
		top: 600px;
		left: 0;
		-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
	  filter: grayscale(70%);
	}
}






/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) { 



	}	

/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: landscape) { 



	}	

/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) 
	and (orientation: landscape) { 



	}	

/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: landscape) { 



	}	

/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) 
	and (orientation: landscape) { 



	}	

/* iphone XR ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) 
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) 
	and (orientation: landscape) { 



	}	

/* iphone XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation: portrait) { 

	.contact-page {
		h1 {
			margin-bottom: 1em;
		}
		h4 {
			font-size: 2em;
		}
		.google-map {
			top: 850px;
		}
		.directions {
			margin-bottom: 560px;
		}
	}

	}

/* Landscape */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation: landscape) { 



	}	