// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-page {
	margin: 4em 0 8em;

	h1 {
		margin-bottom: 2em;
	}

	.simple-calendar {
		border: 1px solid $brand-light-red;
		.calendar-heading {
			background: $brand-light-red;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
	    justify-content: flex-end;
	    padding: 2em 2em 8em;
	    .calendar-title {
	    	margin-right: -3px;
	    }
			span {
		    font-size: 3em;
		    text-transform: uppercase;
		    font-weight: 100;
		    font-family: 'Archivo Black', sans-serif;
			}
			div {
				a:first-of-type {
					margin-right: 30px;
				}
				a {
					font-size: .75em;
					&:hover {
						color: white;
					}
				}
			}
		}
		table.table.table-striped {
			margin-bottom: 0;
		}
		.table {
			thead {
				background: $brand-light-red;
				tr {
					border: 1px solid $brand-light-red;
					th {
						border: $brand-light-red;
						color: white;
						font-family: 'Archivo Black', sans-serif;
					}
				}
			}
			tbody {
				tr {
					border: $brand-light-red;
					.day {
						height: 150px;
						border: 3px solid $brand-light-red;
						font-weight: 100;
						color: white;
						font-family: 'Archivo Black', sans-serif;
						h5 {
							line-height: .75em;
							margin-top: 1em;
							margin-bottom: .5em;
						}
						a {
							font-size: .65em;
							font-weight: 100;
							text-transform: uppercase;
						}
						p {
							font-size: .5em;
						}
					}
					.prev-month, .next-month {
						background: rgba(103, 2, 27, .7);
					}
					.today {
						background: $brand-white;
						color: $brand-light-red;
						a, p {
							color: $brand-light-red;
						}
					}
				}
			}
		}
	}
}

.event-edit {
	h1 {
		margin-bottom: 1em;
	}
	.cover-photo {
		margin-top: 2em;
	}
}
.event-create {
	h1 {
		margin-bottom: 1em;
	}
	.event {
		.col {
			.cloudinary-button {
				height: 600px !important;
		    border: 5px dashed !important;
		    background: transparent !important;
		    font-family: 'Archivo Black', sans-serif;
		    color: $brand-white !important;
			}
		}
	}
}
.event-page, .event-edit, .event-create {
	margin: 5em 0;
	.event {
		margin-bottom: 2em;
		.col {
			float: left;
			width: 40%;
			margin-right: 3.37%;
			display: flex;
			flex-direction: column;
			.cover-photo {
				height: inherit;
				width: 100%;
				margin-top: .5em;
			}
			.cloudinary-button {
				height: 3em;
		    margin-top: .5em;
		    border-radius: 0;
		    text-align: center;
		    text-transform: uppercase;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    width: 100%;
		    border: 1px solid $brand-red;
		    background: $brand-red;
		    font-weight: 100;
		    font-family: 'Archivo Black', sans-serif;
		    text-transform: uppercase;
		    color: $brand-white;
		    &:hover {
		    	border: 1px solid $brand-white;
		    	background: $brand-white;
		    	color: $brand-red;
		    }
			}
		}
		.event-info {
			float: left;
			width: 56.63%;
			h1 {
				font-size: 3.5em;
				color: $brand-white;
				margin-bottom: 1em;
			}
			h5, h6, p {
				color: $brand-light-red;
			}
			h5 {
				text-transform: uppercase;
				font-size: 2em;
			}
			h6 {
				text-transform: uppercase;
				font-size: 1.25em;
			}

			input[type="text"], input[type="url"] {
		    width: 100%;
		    height: 3em;
		    padding: 1em;
		    border: 2px solid $brand-red;
		    margin-bottom: 1em;
			}
			textarea {
				width: 100%;
		    border: 2px solid $brand-red;
		    min-height: 7em;
			}
			.event_date {
				margin-bottom: 1em;
				select {
					text-transform: none;
			    width: 32.8%;
			    height: 3em;
			    background: $brand-white;
			    border-radius: 0;
			    border: 2px solid $brand-red;
				}
			}
			.event_start_time, .event_end_time {
				margin-bottom: 1em;
				select {
					text-transform: none;
					width: 47.5%;
					height: 3em;
					background: $brand-white;
					border-radius: 0;
					border: 2px solid $brand-red;
				}
			}
			.event_event_type {
				margin-bottom: 1em;
				select {
					text-transform: none;
					width: 100%;
					height: 3em;
					background: $brand-white;
					border-radius: 0;
					border: 2px solid $brand-red;
				}
			}
			.event_hosted_by, .event_drink_specials, .event_event_type, .event_start_time {
				width: 49%;
				margin-right: 2%;
				float: left;
			}
			.event_dj, .event_cover_charge, .event_end_time {
				width: 49%;
				float: left;
			}
		}
		.clear {
			clear: both;
		}
	}
	.admin-links {
		display: flex;
		a, p {
			text-transform: uppercase;
			margin-right: 1em;
		}
	}
}




/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}	

	}


/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}	

	}


/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) { 

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}	

	}

/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) { 

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}	

	}


/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) { 

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}	

	}


/* iphone XR and XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width : 414px) 
	and (max-device-height : 896px) 
	and (-webkit-device-pixel-ratio : 2) { 

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}	

	}

/* Samsung Galaxy 5,6,7 ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 640px) {

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}

}	

/* Samsung Galaxy 8, 9 ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 360px) 
	and (max-device-height: 740px) {

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}

}

/* Google Pixel ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 731px) {

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}

}		

/* Google Pixel XL ------------------------------------------------------------- */

/* Both */
@media only screen 
	and (min-device-width: 411px) 
	and (max-device-height: 823px) {

	.calendar-page {
		padding: 0 1em;
		.simple-calendar {
			.calendar-heading {
				span {
					font-size: 5em;
				}
				div {
					a {
						font-size: 1.75em;
					}
					a:first-of-type {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.event-edit, .event-create {
		.event {
			.col {
				margin-bottom: 0 !important;
			}
		}
	}
	.event-page, .event-edit, .event-create {
		padding: 0 1em;
		.event {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 2500px;
			.col {
				float: none;
				width: 100%;
				margin-bottom: 100px;
				margin-right: 0;
				order: 1;
			}
			.event-info {
				margin-bottom: 50px;
				width: 100%;
				float: none;
				h1 {
					font-size: 4.5em;
					margin-bottom: 100px;
				}
				h5 {
					font-size: 3.5em;
					margin-bottom: 100px;
				}
				h6 {
					font-size: 2.5em;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					margin-bottom: 100px !important;
				}
				a {
					font-size: 2em;
				}
			}
		}
		.admin-links {
			margin-top: 50px;
			a, p {
				font-size: 2.5em;
			}
		}
	}

}		