// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-red: #67021B;
$brand-dark-red: #210208;

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8em 0 10em;
	.home-logo img {
		width: 650px;
		margin-bottom: 4em;
	}
	h5 {
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
	}
}	