// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	background: black;
	background-image: url('mascular.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 85%;
	background-position: 250% 50%;
	color: $brand-white;
	overflow-x: hidden;
	padding-top: 5em;
}

h1, h2, h3, h4, h5, h6, .cloudinary-button, .btn {
	font-family: 'Archivo Black', sans-serif;
}

p, a, li, label, span, input {
	font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li, label, .cloudinary-button, span, .btn, input {
	margin: 0;
	color: $brand-white;
	letter-spacing: 5px;
	font-weight: 100;
}

p, li, .cloudinary-button, label, input, span {
	letter-spacing: 2px;
}

label {
	color: $brand-light-red !important;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: $brand-light-red;
	margin-bottom: 3em;
	font-weight: 100;
	letter-spacing: 5px;
}

h2 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
	&:hover {
		color: $brand-light-red;
		text-decoration: line-through;
	}
}

input, .input[type="text"], .input[type="password"], .input[type="email"], textarea, select {
	background: $brand-white;
	color: black;
	font-family: 'Archivo', sans-serif;
	padding: 0 1em;
	width: 100%;
	min-height: 3em;
	margin-bottom: 15px;
}

textarea {
	padding: .5em 1em;
	letter-spacing: 2px;
  font-size: 1.1em;
}

.btn {
	width: 100%;
	background: $brand-red;
	color: $brand-white;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 3em;
	border-radius: 0;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 1.25em;
	margin-bottom: .5em;
	&:hover {
		background: $brand-white;
		color: $brand-red;
	}
}

.btn-white {
	border: 1px solid;
  display: flex;
  padding: 1em;
  width: -webkit-fit-content;
	width: -moz-fit-content;
  width: fit-content;
  min-width: 25%;
  justify-content: center;
  text-transform: uppercase;
  &:hover {
  	background: $brand-white;
  	color: black;
  	a, p {
  		color: black;
  	}
  }
}

.cloudinary-button {
	height: 3em;
  margin-bottom: .5em;
  border-radius: 0 !important;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid $brand-red;
  background: $brand-white !important;
  font-weight: 100;
  text-transform: uppercase;
  color: $brand-red !important;
  font-family: 'Archivo Black', sans-serif !important; 
  margin-bottom: 25px;
  &:hover {
  	border: 2px solid $brand-red;
  	background: $brand-red !important;
  	color: $brand-white !important;
  }
}

#error-explanation {
  text-align: left;
  margin-bottom: 1em;
  h3 {
  	margin-bottom: 1em;
  	text-transform: uppercase;
  }
  p, li {
  	color: $brand-light-red;
  	margin-bottom: 1em;
  }
}

.main-content {
	min-height: 500px;
	padding: 1em;
}

.main-width {
	padding: 0 5em;
	min-width: 900px;
	max-width: 2200px;
	margin: 0 auto;
}

.notice {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
	p {
    display: flex;
    height: 15em;
    width: 15em;
    background: $translucent-red;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2em;
    line-height: 2em;
    font-weight: 100;
	}
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8em 0 10em;
	.home-logo img {
		width: 750px;
		margin-bottom: 4em;
	}
	h5 {
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 5em;
		letter-spacing: 5px;
		font-weight: 100;
		a {
			font-family: inherit;
		}
	}
	.home-featured {
		width: 100%;
		margin-top: 6.5em;
		.featured-events {
			h6 {
				font-size: .9em;
				text-transform: uppercase;
				color: $brand-light-red;
			}
			p {
				color: $brand-light-red;
			}
			.featured-event {
				float: left;
				margin-right: 2.5%;
				width: 20.83%;
				.cover-photo {
					margin-top: 2em;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					box-sizing: border-box;
					width: 100%;
					height: inherit;
					border-top: 3px solid transparent;
					border-bottom: 3px solid transparent;
					&:hover {
						border-top: 3px solid $brand-light-red;
						border-bottom: 3px solid $brand-light-red;
						cursor: pointer;
					}
				}
			}
			.featured-event:first-of-type {
				width: 30%;
				h6, p {
					color: $brand-white;
				}
			}
			.featured-event:nth-of-type(4n) {
				margin-right: 0;
			}
			.clear {
				clear: both;
			}
		}
		.link {
			margin-top: 5em;
		}
	}
}	

/* As main design shrinks */

@media only screen
	and (max-width: 1050px) { 

	.main-width {
		padding: 0 2em;
	}

}

@media only screen
	and (min-width: 1050px) {

	.home-content .home-featured .featured-events .featured-event h6:first-of-type {
		font-size: 1.35em;
	}

}




/* iphone 4 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 480px) 
	and (-webkit-device-pixel-ratio: 2) { 

	body {
		padding-top: 200px;
    background-image: none;
	}

	.main-width {
		padding: 0 1em;
	}

	h1 {
		font-size: 5.75em;
	}

	.btn-white {
		font-size: 2em !important;
		width: 100% !important;
		border: 2px solid $brand-white;
		text-align: center !important;
	}

	.notice p {
		height: 20em !important;
		width: 20em !important;
		font-size: 2em !important;
	}

	input, input[type="text"], input[type="password"], input[type="email"], textarea, select {
		height: 100px;
		margin-bottom: 40px;
		font-size: 2.25em;
	}

	textarea {
		min-height: 200px !important;
	}

	label {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.btn, .cloudinary-button {
		height: 100px;
		width: 100%;
		font-size: 2em !important;
	}

	#error-explanation {
		margin-bottom: 100px;
		h3 {
			font-size: 2.5em;
			text-align: center;
		}
		p, li {
			font-size: 2em;
			text-align: center;
		}
	}

	.home-content {
		.home-logo {
			img {
				width: 100%;
				padding: 0 1em;
			}
		}
		h5 {
			font-size: 2.35em;
			letter-spacing: 10px;
			margin-top: 3em;
		}
		h6 {
			font-size: 1.75em;
			letter-spacing: 10px;
			margin-top: 1em;
		}
		.home-featured {
			padding: 6em 1em 0;
			h1 {
				margin-bottom: 1em;
			}
			.featured-events {
				.featured-event {
					width: 30%;
					margin-right: 5%;
					h6, h2 {
						display: none;
					}
				}
				.featured-event:nth-child(4) {
					margin-right: 0;
				}
				.featured-event.special {
					width: 100%;
				}
			}
		}
	}

	}	


/* Landscape */
@media only screen
	and (min-device-width: 320px) 
	and (max-device-height: 480px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

	.home-content {
		padding-top: 0;
		.home-logo {
			width: 70%;
			margin-top: -50px;
		}
	}

	}	

/* iphone 5 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-height: 568px) 
	and (-webkit-device-pixel-ratio: 2) { 

	body {
		padding-top: 200px;
    background-image: none;
	}

	.main-width {
		padding: 0 1em;
	}

	h1 {
		font-size: 5.75em;
	}

	.btn-white {
		font-size: 2em !important;
		width: 100% !important;
		border: 2px solid $brand-white;
		text-align: center !important;
	}

	.notice p {
		height: 20em !important;
		width: 20em !important;
		font-size: 2em !important;
	}

	input, input[type="text"], input[type="password"], input[type="email"], textarea, select {
		height: 100px;
		margin-bottom: 40px;
		font-size: 2.25em;
	}

	textarea {
		min-height: 200px !important;
	}

	label {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.btn, .cloudinary-button {
		height: 100px;
		width: 100%;
		font-size: 2em !important;
	}

	#error-explanation {
		margin-bottom: 100px;
		h3 {
			font-size: 2.5em;
			text-align: center;
		}
		p, li {
			font-size: 2em;
			text-align: center;
		}
	}

	.home-content {
		.home-logo {
			img {
				width: 100%;
				padding: 0 1em;
			}
		}
		h5 {
			font-size: 2.35em;
			letter-spacing: 10px;
			margin-top: 3em;
		}
		h6 {
			font-size: 1.75em;
			letter-spacing: 10px;
			margin-top: 1em;
		}
		.home-featured {
			padding: 6em 1em 0;
			h1 {
				margin-bottom: 1em;
			}
			.featured-events {
				.featured-event {
					width: 30%;
					margin-right: 5%;
					h6, h2 {
						display: none;
					}
				}
				.featured-event:nth-child(4) {
					margin-right: 0;
				}
				.featured-event.special {
					width: 100%;
				}
			}
		}
	}

	}	


/* Landscape */
@media only screen
	and (min-device-width: 320px) 
	and (max-device-height: 568px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

	.home-content {
		padding-top: 0;
		.home-logo {
			width: 70%;
			margin-top: -50px;
		}
	}

	}	

/* iphone 6, 6s, 7, 8 ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 667px) 
	and (-webkit-device-pixel-ratio: 2) { 

	body {
		padding-top: 200px;
    background-image: none;
	}

	.main-width {
		padding: 0 1em;
	}

	h1 {
		font-size: 5.75em;
	}

	.btn-white {
		font-size: 2em !important;
		width: 100% !important;
		border: 2px solid $brand-white;
		text-align: center !important;
	}

	.notice p {
		height: 20em !important;
		width: 20em !important;
		font-size: 2em !important;
	}

	input, input[type="text"], input[type="password"], input[type="email"], textarea, select {
		height: 100px;
		margin-bottom: 40px;
		font-size: 2.25em;
	}

	textarea {
		min-height: 200px !important;
	}

	label {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.btn, .cloudinary-button {
		height: 100px;
		width: 100%;
		font-size: 2em !important;
	}

	#error-explanation {
		margin-bottom: 100px;
		h3 {
			font-size: 2.5em;
			text-align: center;
		}
		p, li {
			font-size: 2em;
			text-align: center;
		}
	}

	.home-content {
		.home-logo {
			img {
				width: 100%;
				padding: 0 1em;
			}
		}
		h5 {
			font-size: 2.35em;
			letter-spacing: 10px;
			margin-top: 3em;
		}
		h6 {
			font-size: 1.75em;
			letter-spacing: 10px;
			margin-top: 1em;
		}
		.home-featured {
			padding: 6em 1em 0;
			h1 {
				margin-bottom: 1em;
			}
			.featured-events {
				.featured-event {
					width: 30%;
					margin-right: 5%;
					h6, h2 {
						display: none;
					}
				}
				.featured-event:nth-child(4) {
					margin-right: 0;
				}
				.featured-event.special {
					width: 100%;
				}
			}
		}
	}

	}	


/* Landscape */
@media only screen
	and (min-device-width: 375px) 
	and (max-device-height: 667px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

	.home-content {
		padding-top: 0;
		.home-logo {
			width: 70%;
			margin-top: -50px;
		}
	}

	}	

/* iphone 6+, 6s+, 7+, 8+ ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 736px) 
	and (-webkit-device-pixel-ratio: 3) { 

	body {
		padding-top: 200px;
    background-image: none;
	}

	.main-width {
		padding: 0 1em;
	}

	h1 {
		font-size: 5.75em;
	}

	.btn-white {
		font-size: 2em !important;
		width: 100% !important;
		border: 2px solid $brand-white;
		text-align: center !important;
	}

	.notice p {
		height: 20em !important;
		width: 20em !important;
		font-size: 2em !important;
	}

	input, input[type="text"], input[type="password"], input[type="email"], textarea, select {
		height: 100px;
		margin-bottom: 40px;
		font-size: 2.25em;
	}

	textarea {
		min-height: 200px !important;
	}

	label {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.btn, .cloudinary-button {
		height: 100px;
		width: 100%;
		font-size: 2em !important;
	}

	#error-explanation {
		margin-bottom: 100px;
		h3 {
			font-size: 2.5em;
			text-align: center;
		}
		p, li {
			font-size: 2em;
			text-align: center;
		}
	}

	.home-content {
		.home-logo {
			img {
				width: 100%;
				padding: 0 1em;
			}
		}
		h5 {
			font-size: 2.35em;
			letter-spacing: 10px;
			margin-top: 3em;
		}
		h6 {
			font-size: 1.75em;
			letter-spacing: 10px;
			margin-top: 1em;
		}
		.home-featured {
			padding: 6em 1em 0;
			h1 {
				margin-bottom: 1em;
			}
			.featured-events {
				.featured-event {
					width: 30%;
					margin-right: 5%;
					h6, h2 {
						display: none;
					}
				}
				.featured-event:nth-child(4) {
					margin-right: 0;
				}
				.featured-event.special {
					width: 100%;
				}
			}
		}
	}

	}	


/* Landscape */
@media only screen
	and (min-device-width: 414px) 
	and (max-device-height: 736px)
	and (-webkit-device-pixel-ratio: 3)
	and (orientation: landscape) {

	.home-content {
		padding-top: 0;
		.home-logo {
			width: 70%;
			margin-top: -50px;
		}
	}

	}	

/* iphone X ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (-webkit-device-pixel-ratio: 3) { 

	body {
		padding-top: 200px;
    background-image: none;
	}

	.main-width {
		padding: 0 1em;
	}

	h1 {
		font-size: 5.75em;
	}

	.btn-white {
		font-size: 2em !important;
		width: 100% !important;
		border: 2px solid $brand-white;
		text-align: center !important;
	}

	.notice p {
		height: 20em !important;
		width: 20em !important;
		font-size: 2em !important;
	}

	input, input[type="text"], input[type="password"], input[type="email"], textarea, select {
		height: 100px;
		margin-bottom: 40px;
		font-size: 2.25em;
	}

	textarea {
		min-height: 200px !important;
	}

	label {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.btn, .cloudinary-button {
		height: 100px;
		width: 100%;
		font-size: 2em !important;
	}

	#error-explanation {
		margin-bottom: 100px;
		h3 {
			font-size: 2.5em;
			text-align: center;
		}
		p, li {
			font-size: 2em;
			text-align: center;
		}
	}

	.home-content {
		.home-logo {
			img {
				width: 100%;
				padding: 0 1em;
			}
		}
		h5 {
			font-size: 2.35em;
			letter-spacing: 10px;
			margin-top: 3em;
		}
		h6 {
			font-size: 1.75em;
			letter-spacing: 10px;
			margin-top: 1em;
		}
		.home-featured {
			padding: 6em 1em 0;
			h1 {
				margin-bottom: 1em;
			}
			.featured-events {
				.featured-event {
					width: 30%;
					margin-right: 5%;
					h6, h2 {
						display: none;
					}
				}
				.featured-event:nth-child(4) {
					margin-right: 0;
				}
				.featured-event.special {
					width: 100%;
				}
			}
		}
	}

	}	


/* Landscape */
@media only screen
	and (min-device-width: 375px) 
	and (max-device-height: 812px)
	and (-webkit-device-pixel-ratio: 3)
	and (orientation: landscape) {

	.home-content {
		padding-top: 0;
		.home-logo {
			width: 70%;
			margin-top: -50px;
		}
	}

	}	
	

/* iphone XR and XS Max ------------------------------------------------------------- */

/* Portrait */
@media only screen 
	and (min-device-width: 414px) 
	and (max-device-height: 896px) 
	and (-webkit-device-pixel-ratio: 2) { 

	body {
		padding-top: 200px;
    background-image: none;
	}

	.main-width {
		padding: 0 1em;
	}

	h1 {
		font-size: 5.75em;
	}

	.btn-white {
		font-size: 2em !important;
		width: 100% !important;
		border: 2px solid $brand-white;
		text-align: center !important;
	}

	.notice p {
		height: 20em !important;
		width: 20em !important;
		font-size: 2em !important;
	}

	input, input[type="text"], input[type="password"], input[type="email"], textarea, select {
		height: 100px;
		margin-bottom: 40px;
		font-size: 2.25em;
	}

	textarea {
		min-height: 200px !important;
	}

	label {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.btn, .cloudinary-button {
		height: 100px;
		width: 100%;
		font-size: 2em !important;
	}

	#error-explanation {
		margin-bottom: 100px;
		h3 {
			font-size: 2.5em;
			text-align: center;
		}
		p, li {
			font-size: 2em;
			text-align: center;
		}
	}

	.home-content {
		.home-logo {
			img {
				width: 100%;
				padding: 0 1em;
			}
		}
		h5 {
			font-size: 2.35em;
			letter-spacing: 10px;
			margin-top: 3em;
		}
		h6 {
			font-size: 1.75em;
			letter-spacing: 10px;
			margin-top: 1em;
		}
		.home-featured {
			padding: 6em 1em 0;
			h1 {
				margin-bottom: 1em;
			}
			.featured-events {
				.featured-event {
					width: 30%;
					margin-right: 5%;
					h6, h2 {
						display: none;
					}
				}
				.featured-event:nth-child(4) {
					margin-right: 0;
				}
				.featured-event.special {
					width: 100%;
				}
			}
		}
	}

	}	


/* Landscape */
@media only screen
	and (min-device-width: 414px)
	and (max-device-height: 896px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

	.home-content {
		padding-top: 0;
		.home-logo {
			width: 70%;
			margin-top: -50px;
		}
	}

	}	
