// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	background: black;
	background-image: url('mascular.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 85%;
	background-position: 250% 50%;
	color: $brand-white;
}

h1, h2, h3, h4, h5, h6, p, a, li, label, .cloudinary-button, span, .btn, input {
	margin: 0;
	color: $brand-white;
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: 5px;
	font-weight: 100;
}

p, li, .cloudinary-button, label, input, span {
	letter-spacing: 2px;
}

h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: $brand-red;
	margin-bottom: 3em;
	font-weight: 100;
	letter-spacing: 5px;
}

h2 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
	&:hover {
		color: $brand-red;
		text-decoration: underline;
	}
}

input, .input[type="text"], .input[type="password"], textarea, select {
	background: $brand-white;
	color: black;
	font-family: 'Archivo Black', sans-serif;
}

.btn {
	width: 100%;
	background: $brand-red;
	color: $brand-white;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 3em;
	border-radius: 0;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 1.25em;
	margin-bottom: .5em;
	&:hover {
		background: $brand-white;
		color: $brand-red;
	}
}

#error-explanation {
  text-align: left;
  margin-bottom: 1em;
  h3 {
  	margin-bottom: 1em;
  	text-transform: uppercase;
  }
  p, li {
  	color: $brand-red;
  	margin-bottom: 1em;
  }
}

.main-content {
	min-height: 500px;
	padding: 1em;
}

.main-width {
	padding: 0 1em;
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
}

.notice {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
	p {
    display: flex;
    height: 15em;
    width: 15em;
    background: $translucent-red;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2em;
    line-height: 2em;
    font-weight: 100;
	}
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8em 0 10em;
	.home-logo img {
		width: 650px;
		margin-bottom: 4em;
	}
	h5 {
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 5em;
		letter-spacing: 5px;
		font-weight: 100;
	}
	.home-featured {
		width: 100%;
		margin-top: 5em;
		.featured-events {
			h6 {
				font-size: .9em;
				text-transform: uppercase;
				color: $brand-red;
			}
			p {
				color: $brand-red;
			}
			.featured-event {
				float: left;
				margin-right: 2.5%;
				width: 20.83%;
				.cover-photo {
					margin-top: 2em;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					box-sizing: border-box;
					width: 100%;
					height: inherit;
					&:hover {
						border: 3px solid $brand-red;
						cursor: pointer;
					}
				}
			}
			.featured-event:first-of-type {
				width: 30%;
				h6, p {
					color: $brand-white;
				}
			}
			.featured-event:nth-of-type(4n) {
				margin-right: 0;
			}
			.clear {
				clear: both;
			}
		}
		.link {
			margin-top: 5em;
		}
	}
}	