%footer
	.footer-logo
		= image_tag "rockbar_logo_white.png"
	.footer-sections
		.footer-section
			%h2 Store Hours
			%p Mon - Fri : 4pm - 4am
		.footer-section
			%h2 Social Media
			%p Facebook
			%p Twitter
			%p Instagram
	%p All Rights Reserved ROCKBAR NYC, 2019